* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Harry Potter', sans-serif;
  letter-spacing: 4px;
}

.header {
  background-color: blueviolet;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.header img {
  width: 40px;
}
